*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #151845;
}
.center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.outer{
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
}
.button{
    height: 70px; 
    width: 220px;
    border-radius: 50px;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50% ; 
}
.outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.outer button{
    background: #151845;
    color: #ffffff;
    outline: none;
    border: none;
    font-size: 25px;
    z-index: 9;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.button button{
    height: 60px;
    width: 210px;
    border-radius: 50px;

}
.circle button{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span{
    border-radius: 50px;
}
.circle span{
    border-radius: 50%;
}
.outer span:nth-child(1){
    filter: blur(7px);

}
.outer span:nth-child(2){
    filter: blur(14px);
    
}